extends ../shared/template
block content
  if client._id == user._id.toString()
    .row
      h2 My Profile
      br
      br
      br
      br
    .row
      .col-xs-6
        .col-xs-4
          a.btn.btn-primary(href='/users/#{user._id}/edit') Edit My Profile
        .col-xs-4
          a.btn.btn-primary(href='/users/#{user._id}/items') My Items
        .col-xs-4
          a.btn.btn-primary(href='/users/#{user._id}/messages') My Messages
        br
        br
        br
        br
        br
        br
        h2 Name: #{user.name}
        h3 Location: #{user.loc.name}
        h3 Email: #{user.email}
        h3 Phone Number: #{user.phone}
      .col-xs-6
        img(src=user.photo style="width: 500px;")
  else
    h2 #{client.name}'s Profile
    br
    br
    br
    br
    .row
      .col-xs-6
        br
        br
        br
        br
        h3 Location: #{client.loc.name}
        h3 Email: #{client.email}
        h3 Phone Number: #{client.phone}
        br
        br
        form(role='form', method='post', action='/messages/#{client._id}')
          .form-group
            label(for='message') Send a Message to #{client.name}:
            textarea.form-control#message(name='message', autofocus=true)
          .form-group
          #formButton
            button.btn.btn-primary.btn-sm(type='submit') Send Message
      .col-xs-6
        img(src=client.photo style="width: 500px;")
        .row
          .col-xs-6
       .col-xs-6

block scripts
  script(src='/js/user/home.js')

