extends ../shared/template
block content
  h2 Profile
  .panel.panel-default
    .panel-body
      if client._id == user._id.toString()
        .row
          h1 My Profile
          .col-xs-6
            a.btn.btn-primary(href='/users/#{user._id}/edit') Edit my profile
          .col-xs-6
            a.btn.btn-primary(href='/users/#{user._id}/items') My Items
        .row
          .col-xs-6
            h2 Name: #{user.name}
            h2 Location: #{user.loc.name}
            h2 Email: #{user.email}
            h2 Phone Number: #{user.phone}
          .col-xs-6
            img(src=user.photo)
        .row
          .col-xs-2
          .col-xs-8
            table.table.table-hover.table-bordered
              thead
                tr
                  th From
                  th Date
                  th Message
              tbody
                each msg in msgs
                  tr(style='background-color:#{msg.isRead ? "#eeeeee" : "#aaaaaa"} !important;')
                    td: a.btn.btn-warning.btn-xs(href='/users/#{msg.sender.email}')= msg.sender.email
                    td= msg.date.toDateString()
                    td: a.btn.btn-primary.btn-xs(href='/messages/#{msg._id}')= msg.message.slice(0, 10)
          .col-xs-2
      else
        h3 #{client.name}'s Profile
        .row
          .col-xs-6
            h2 Name: #{client.name}
            h2 Location: #{client.loc.name}
            h2 Email: #{client.email}
            h2 Phone Number: #{client.phone}
          .col-xs-6
            img(src=user.photo)
        .row
          .col-xs-6
             .panel.panel-default
               .panel-body
                 form(role='form', method='post', action='/messages/#{client._id}')
                   .row
                       .form-group
                         label(for='message') Message
                         textarea.form-control#message(name='message', autofocus=true)
                       .form-group
                         button.btn.btn-info.btn-sm(type='submit') Send Message
           .col-xs-6


block scripts
  script(src='/js/user/home.js')

