extends ../shared/template
block content
  h2 Profile
  .panel.panel-default
    .panel-body
      if client._id == user._id.toString()
        .row
          h1 My Profile
          .col-xs-6
            a.btn.btn-primary(href='/users/#{user._id}/edit') Edit my profile
          .col-xs-6
            a.btn.btn-primary(href='/users/#{user._id}/items') My Items
        .row
          .col-xs-6
            h2 Name: #{user.name}
            h2 Location: #{user.loc.name}
            h2 Email: #{user.email}
            h2 Phone Number: #{user.phone}
          .col-xs-6
            img(src=user.photo)
      else
        h3 #{client.name}'s Profile
        .row
          .col-xs-6
            h2 Name: #{client.name}
            h2 Location: #{client.loc.name}
            h2 Email: #{client.email}
            h2 Phone Number: #{client.phone}
          .col-xs-6
            img(src=user.photo)
        .row
          .col-xs-6
             .panel.panel-default
               .panel-body
                 form(role='form', method='post', action='/messages/#{client._id}')
                   .row
                     .col-xs-6
                       .radio
                         label
                           input(type='radio' name='mtype' value='text' checked=true)
                           span Text
                       .radio
                         label
                           input(type='radio' name='mtype' value='email')
                           span Email
                       .radio
                         label
                           input(type='radio' name='mtype' value='internal')
                           span Internal
                     .col-xs-6
                       .form-group
                         label(for='message') Message
                         textarea.form-control#message(name='message', autofocus=true)
                       .form-group
                         button.btn.btn-info.btn-sm(type='submit') Send Message
           .col-xs-6


block scripts
  script(src='/js/user/home.js')

